{
  "db": {
    "hostname": "localhost",
    "port": 8086,
    "username": "root",
    "password": "root",
    "database": "historical-poloniex"
  },

  "backtesting": {
    "initial_balances": {
      "BTC": 1
    }
  },

  "livetrading": {
    "poloniex": {
      "pk": "YOUR_API_KEY",
      "sk": "YOUR_API_SECRET"
    }
  },

  "trade_interval": 86400,
  "fiat": "BTC"
}
