certifi==2017.4.17
chardet==3.0.4
funcy==1.8
idna==2.5
influxdb==4.1.1
mypy==0.511
numpy==1.13.0
pandas==0.20.2
poloniex==0.4.3
python-dateutil==2.6.0
pytz==2017.2
requests==2.18.1
six==1.10.0
typed-ast==1.0.4
urllib3==1.21.1
